{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<h1>Sign Up</h1>

<form action="/register" method="POST">
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type !=
  'hidden' %}

  <div>{{ field.label }}</div>
  <div>{{ field }}</div>

  {% for error in field.errors %}
  <div class="text-danger">{{ error }}</div>
  {% endfor %}
  <br />

  {% endfor %}

  <button class="btn btn-primary" type="submit">Register</button>

</form>

<a class="btn btn-secondary" href="/login">Login</a>


{% endblock %}