{% extends "base.html" %}

{% block title %}{{user.first_name}} {{ user.last_name }}{% endblock %}

{% block content %}

<h1>{{user.first_name}} {{ user.last_name }}</h1>
<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>

<!-- DISPLAY NOTES -->
<h2>Notes</h2>
<ul>
  {% for note in notes %}
  <li>
    <form class="note-form-list">
      <button formmethod="GET" formaction="/notes/{{ note.id }}/update"
        class="bi bi-pencil-square btn btn-secondary"></button>
      <button formmethod="POST" formaction="/notes/{{ note.id }}/delete" class="bi bi-trash3 btn btn-danger"></button>
    </form>
    <span>{{ note.title }}</span> <span class="note-content">{{ note.content }}</span>
  </li>
  {% endfor %}
</ul>

<!-- ADD NOTE -->
<form>
  <button formaction="/users/{{ user.username }}/notes/add" formmethod="GET" class="btn btn-primary">Add Note</button>
</form>

<!-- LOGOUT -->
<form action="/logout" method="POST">
  {{ logout_form.hidden_tag() }}
  <button type="submit" class="btn btn-secondary">Logout</button>
</form>

<!-- DELETE USER -->
<form>
  <button formmethod="POST" formaction="/users/{{ user.username }}/delete" class="btn btn-danger">Delete
    Account</button>
</form>
{% endblock %}